@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

* { box-sizing: border-box; }

body {
  font-family: sans-serif;
  background: #21252b;
  font-family: 'Fira Sans', sans-serif;
  overflow-y: scroll;
}

hr {
  border: 1px solid #21252b ;
}

/* ---- FORM ---- */
#form {
  clear: both;
  height:55px;
  width: 750px;
  margin: 0 auto;
  padding: 25px 0 25px 0;
}

#form input[type="text"] {
  float: left;
  width:690px;
  height: 55px;
  font-size: 20px;
  text-align: center;
  color: #fff;
  background: #282c34;
  border-radius: 5px 0 0 5px;
  border-style: none;
}

.dropbtn {
  display: inline-block;
  margin-left: 5px;
  width:55px;
  height: 55px;
  font-size: 20px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  line-height: 55px;
  background: #282c34;
  border-radius: 0 5px 5px 0;
  border-style: none;
  cursor: pointer;
  z-index: 20;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  border-radius: 0 5px 0 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 20;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  background: #282c34;
  color: #fff;
  min-width: 220px;
  padding: 15px;
  z-index: 20;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  padding-top: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 23px;
  background-color: #eee;
  border: 2px solid #21252b ;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #8bc34a;
  border: 2px solid #21252b ;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ---- ISOTOPE ---- */
.grid {
  top: 50px;
  margin: 0 auto;
  width: 750px;
}

/* CLEAR FIX */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- GRID ITEM ---- */
.grid-item {
  position: relative;
  float: left;
  width: 750px;
  margin-bottom: 15px;
  border-radius: 0 5px 5px 0;
  padding: 10px 10px 20px 10px;
  background: #282c34;
}

.grid-item > * {
  margin: 0;
  padding: 0;
}

.grid-item .title {
    position: relative;
    top: -5px;
    font-size: 34px;
    font-weight: bold;
    color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.grid-item .category {
  position: absolute;
  right: 12px;
  top: 8px;
  text-transform: capitalize;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.grid-item .code {
    position: relative;
    width: 725px;
    height:auto;
    text-transform: none;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: normal;
    color: #fff;
    background-color: #21252b;
    padding: 10px 20px 10px 10px;
}

.grid-item .code:before {
  content: "> git ";
}

.grid-item .main-desc {
  position: relative;
  margin-bottom:20px;
  font-size: 12px;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.grid-item .options-title {
  margin-bottom: 10px;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.grid-item .desc {
  position: relative;
  width: 99.99%;
  margin-bottom:15px;
  padding: 15px;
  font-size: 12px;
  color: #fff;
  border: #21252b 1px solid;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.grid-item a {
  float: right;
  margin-right: 4px;
  font-size: 13px;
  text-decoration: none;
  color: rgb(167, 168, 172);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.grid-item a:hover {
  text-decoration: none;
  color: #fff;
}


/* ---- CATEGORY COLORS ---- */
.grid-item.create   { border-left: 4px solid #8bc34a; color: #8bc34a;}
.grid-item.changes, .grid-item.administration  { border-left: 4px solid #ff8800; color: #ff8800;}
.grid-item.branch, .grid-item.checkout   { border-left: 4px solid #774aff; color: #774aff;}
.grid-item.update   { border-left: 4px solid #00bcd4; color: #00bcd4;}
.grid-item.merge, .grid-item.rebase, .grid-item.patch, .grid-item.cherry-pick   { border-left: 4px solid #c2185b; color: #c2185b;}
.grid-item.undo  { border-left: 4px solid #ff5252; color: #ff5252;}
.grid-item.extensions  { border-left: 4px solid #8fffa7; color: #8fffa7;}
.grid-item.history   { border-left: 4px solid #5270f5; color: #5270f5;}
.grid-item.debug   { border-left: 4px solid #9c0000; color: #9c0000;}

/* ---- OCTOCAT! ---- */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%,
  100% {
      transform: rotate(0)
  }
  20%,
  60% {
      transform: rotate(-25deg)
  }
  40%,
  80% {
      transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
      animation: none
  }
  .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out
  }
}