.code-block {
	border: 1px solid #181926 !important;
	margin-bottom: 1rem;
	border-radius: 0.375rem;
}

pre {
	padding: 5px;
	margin-bottom: 8px;
	background-color: #181926;
}

code {
	font-family: "Fira Code", monospace;
	color: white !important;
	display: flex;
	align-items: center;
	padding-left: 5px !important;
	margin-right: 45px;
	overflow: auto;
	min-height: 35px;
}

.code-description {
	padding: 2px 0 0 8px;
	margin-bottom: 8px;
	background-color: transparent;
	color: #cdd6f4;
	font-size: 15px;
}
